.row{
	margin-top: 50px;
}
.col-sm-12 button{
	margin-top: 20px;
	width: 100%;
	height: 7vh;
	background: #f0089a;
	color:#fff;
	border: none;
	o
}
.col-sm-12 a{
	text-decoration: none;
}
.pld{
	text-decoration: none;
	text-transform: capitalize;
	color:blue;
	display: none;
}
.pld, .col-sm-12 a:hover{
	display: block;
}